

<!DOCTYPE html>
<title>Admin Paneli</title>
<html lang="en" class="light-style layout-menu-fixed " dir="ltr" data-theme="theme-default"  data-template="vertical-menu-template-free">


@await Html.PartialAsync("/Areas/Admin/Views/LayoutPartial/_LayoutHeadPartial.cshtml")

<body>

  <!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">

            @await Html.PartialAsync("/Areas/Admin/Views/LayoutPartial/_MenuPartial.cshtml")





<!-- Menu -->


<!-- / Menu -->



    <!-- Layout container -->
    <div class="layout-page">





<!-- Navbar -->
                @await Html.PartialAsync("/Areas/Admin/Views/LayoutPartial/_LayoutNavbarPartial.cshtml")



<!-- / Navbar -->
                @RenderBody()
      </div>
      <!-- / Layout page -->
    </div>



    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>


  </div>
  <!-- / Layout wrapper -->
    @await Html.PartialAsync("/Areas/Admin/Views/LayoutPartial/_LayoutScriptPartial.cshtml")
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>
