@model AddCategoryDTO
<div class="container-xxl flex-grow-1 container-p-y">


    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Kategori Yönetimi /</span> Kategori Ekle
    </h4>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <form asp-controller="Category" asp-action="Add" method="post" enctype="multipart/form-data">

                <div class="card-body">

                  
                    <div class="form-group">
                        <label asp-for="categoryName" class="form-label">Kategori Adı Adı</label>
                        <input asp-for="categoryName" type="text" class="form-control" id="defaultFormControlInput" placeholder="Lütfen Kategori Adını Giriniz" aria-describedby="defaultFormControlHelp">

                    </div>
                    

                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
                </div>
            </form>

        </div>
    </div>
  

